.d-flex {
  display: flex;
}

.vh-100 {
  height: 300vh;
}

.overflow-hidden {
  overflow: hidden;
}

.main-content {
  padding: 20px;
  flex: 1;
}

.task-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-detail-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.scrollable-content-detail {
  flex: 1;
  width: 1210px;
  display: flex;
  overflow-y: auto;
}

.task-info-wrapper,
.sidebar-right-wrapper {
  flex: 1; /* Each takes up 50% of the width */
  min-width: 0; /* Prevents overflow issues */
}

.task-info-wrapper {
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.sidebar-right-wrapper {
  overflow-y: auto; /* Allow scrolling if content overflows */
}
